*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    box-sizing:border-box;
    
}
.left-panel{
    background-color:#013243;
    position:relative;
    text-align:center;
    color:white;
}
.left-panel h1{
    padding-top:10%;
}
.left-panel p{
    margin-top:20px;
}
.left-panel img{
    height:50%;
    width:100%;
    object-fit:cover;
    object-position:bottom;
    margin-top:50px;
}
label{
    display:block;
    padding-top:20px;
    font-size:20px;
}
.input{
    display:block;
    border-radius:4px;
    margin-top:10px;
    padding:15px 10px 15px 10px;
    width:100%;
    font-size:20px;

}

input[type='checkbox']{
display:inline-block;
margin-top:30px;
}

a{
    display:block;
    background-color:#013243;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:15px;
    margin-top:20px;
    border-radius:4px;
    font-size:20px

}
.form{
    display:flex;
    justify-content:center;
}

form{
    width:80%;
     padding-right:20px;
    padding-left:20px;
    margin-top:10px;
}

form p1{
    font-size:20px;
    margin-left:5px;
    width:50%;
    line-height:25px;
}
.right-panel h1{
    padding-left:60px;
}

.right-panel{
    padding-top:40px;
    padding-bottom:40px;
}
span{
    color:#013243;
}

@media only screen and (min-width: 600px) {
    .login-form{
        width:70%;
    }
    body{
        background-image:url('Background.png');
        background-size:cover;;
        background-repeat:no-repeat;
        display:flex;
        justify-content:center;
    }
    .right-panel{
        background-color:white;
    }
  }
  @media only screen and (min-width: 1000px) {
    .login-form{
       width:70%;
        height:500px;
        display:flex;
    }
    body{
        background-image:url('Background.png');
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .left-panel{
        width:50%;
    }
    .left-panel img{
        height:90%;
        width:100%;
        position:absolute;
        bottom:0;
        right:0;
        object-fit:contain;
        
    }
    .right-panel h1{
        padding-left:79px;
    }
  }